/*
Palette de couleurs
 Bleu foncé: #1e2c35
 Bleu moyen: #414f58
 Marron foncé: #b28a6a
 Marron clair: #fceedb
*/


/*Corps du site*/
html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  color: #192730;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block{
	display:block;
	width:90%;
	margin:auto;

}

.main img{
	
}
p{text-align: justify;}
h1,h2,h3,h4,h5{text-align: left;}

.fiche img{
 max-width: 48%;
 box-shadow: 0px 6px 6px 0px rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.4);
 display:inline-block;
 margin: 0.5%;
}
#imgaccueil{
max-width: 98%;
box-shadow: 0px 6px 6px 0px rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.4);
margin: auto;
}
#main {
  
  min-height: 80%;
  max-height: 100%;
  flex:1;
  
   
}
strong{
	font-weight: bolder;
}
h3,h4{
	color:#414f58;
}
/*page d'accueil*/
#accueil{display:flex;flex-direction:row;justify-content: space-around;text-align: justify;}

.text-accueil{max-width: 60%; padding: 10%;}
.img-accueil{max-width:40%; padding-right: 5%;}

details{
	margin: 0%;
	padding: 1%;
	border: 1px solid black;
	}
	
summary{
	font-weight: normal;
	
}
/*menu principal*/

nav  ul {float: right;
    list-style: none;
    margin: 0 0 0 3em;
    padding: 0;
    background-color: lightblue;
    font-weight: bold;
    }


nav li{
	float:left;
	position: relative;
	}

nav a {
    display: block;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    color: #2f4858;
    border-right: 1px solid white; 
}
nav a img {
	margin-bottom: -3px;
	
}

nav a:link,nav a:visited,nav a:active {
    color: #2f4858;
}

nav li a:hover{
	background-color: #15A9DB;
	color: #FFF;
	text-shadow: 2px 2px 1px #2f4858;
	
}

nav li.selected a {
    background-color: #15A9DB;
    color: #FFF;
    text-shadow: 2px 2px 1px #2f4858;
}

nav li.selectedout a:hover {
    color:  	#F0E68C;
    
    text-shadow: 2px 2px 1px #000;
}


.submenu{display: none;}

nav li:hover .submenu{display: flex; flex-direction: column; position: absolute;top:100%;right: 0%;padding: 0px;width: 200%; z-index:100000;} 



.submenu li:hover {background-color: #15A9DB;}


.submenu  a{padding:10px 10px; font-size: 90%;color: #222538;text-align:right; }

/* En tête de la page */
.header-bar {
  padding: 5px;
  margin-bottom: 0px;
  background-color:#FFF;
  box-shadow: 0px 6px 6px 0px rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,.4);
  display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: flex-end;
 z-index: 10;
}

a.header-nav {
  text-decoration: none;
}

a.header-nav img {
  height: 60px;
  vertical-align: middle;
  margin-left: 10px;
}

.header-title {
  font-size: 180%;
  color:#2f4858;
  margin-left: 50px;
  display: inline-block;
  vertical-align: middle
}

/* Pied de la page*/

.footer-bar {
  padding: 5px 20px;
  margin-top: 0px;
  background-color:#FFF;
  color: #2f4858;
  font-size: 60%;
  display: flex;
   box-shadow: 0px -6px 6px 0px rgba(12,13,14,0.1),0 -1px 6px rgba(59,64,69,.4);
  justify-content: space-between;
  z-index: 10;
}

.footer-bar span {
  margin-top: 4px;
  margin-left: 0px;
  padding: 0px 5px 0px 5px;
  flex:3;
}

.footer-bar img{
	height: 40px;
  vertical-align: middle;
  margin-left: 0px;
  padding: 0px 5px 0px 5px;
  
}


.footer-bar a {
  color: #33658a;
  text-decoration: none;
}

.footer-bar a:hover {
  color: #6d9dc5;
}


/*carte*/


.legend{
	height : 50%;
	width : 25%;
}

.withmap{
	display: flex;
	flex-direction: row;
	flex: 1;	
	width: 100%;
	height: 100%;
	border:0px solid #000;
	justify-content: space-between;
	align-items: flex-start;
	
	
}
#nomap{
	width: 82%;
	height: 100%;
	
	
	overflow-y: auto;
	text-align: justify;
	margin: auto;
	
   
	
}


/*div{border:1px solid black;}*/

.role{
	display:block;	
	
	margin: auto;
	position: relative;
	
   
   

}

.capsule{
	display: inline-block;
	
	vertical-align: top;
	margin-right:1%;
	margin-top: 1%;
	
	width: 46.7%;
	
	box-shadow: 2px 1px 1px 2px lightgrey;
	padding: 1%;
	border-radius: 5px;
	overflow:auto;
	word-wrap: break-word;

}

.content{
	display: flex;
	width: 100%;
	height: 100%;
	
	border:0px solid #000;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.tabulator-col{
	
	

}

.mapall{
	width: 100%;
	height: 100%;
	z-index: 0;

}
.map{
	width: 48%;
	height: 100%;
	z-index: 0;
	
}

.fiche{
	width: 48%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 3px double grey;
	overflow-y: auto;
	text-align: justify;
}

.illustr_fiche{
	width: 40%;
}

.leaflet-control-attribution {
	
	box-shadow: 0 1px 5px rgba(0,0,0,0.6);
	background: #fff;
	border-radius: 5px;
}


.legendin table{
	border-collapse: separate;
	width: 350px;

}

.legendin td, .legendin th, .legendin thead, .legendin tr{
	padding: 0 0 0 5px;
	background-color: transparent;
	border: 0;
	color: black;

}

.legendin details{
	margin: 0%;
	padding: 1%;
	border:0px;
}


table{

min-width: 100%;
border-collapse: collapse;

}

thead {
    font-weight: bold;
    background-color: #EFEFEF;
}

th{
	border: 3px solid #FFF;
	padding: 1% 1%;
	background-color: grey;
	color:#FFF;
	word-wrap: break-word;
}

td{
	border: 3px solid #FFF;
	padding: 1% 1%;
	background-color: lightgrey;
	word-wrap: break-word;
}

/* mise en forme des popups de la carte Leaflet */
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: white;
    color: black;
    
}




.leaflet-control-layers,
.legendin {
    padding: 4px 6px;
    background: white;
    /* font: 14px/16px Arial, Helvetica, sans-serif; */
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    
}

.complex-table{
	border: 2px solid orange;
	padding: 2%;
	flex:1;
	
}

.nomap{
	display: flex;
	flex-direction: row;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	border:0px solid #000;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.my-icon-style {
	 background-color: white;
	width: 50rem;
  height: 50rem;
  display: block;
  left: -25rem;
  top: -25rem;
  position: relative;
  border-radius: 40rem 40rem 0;
  transform: rotateZ(45deg);
  border: 1px solid #000;
}

.my-div-icon {
	
	border: 1px solid #666;
	transform: rotate (45deg);
	width: 3rem;
  height: 3rem;
  display: block;
  
  border-radius: 3rem 3rem 0;
  
	}
.leaflet-div-icon{
	border-radius: 40rem 40rem ;

}

.mycluster{
	
  
  background-color: rgba(70, 130, 180, .2);
  border: 3px solid rgba(70, 130, 180, .8);
 text-align: center;
 vertical-align: middle;
  
  font-size: 14px;
  font-weight: bold;
  border-radius: 5rem;
  
  
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0,.5);
}

.iconcible{
	background-color: rgba(70, 130, 180, .2);
  border: 3px solid rgba(70, 130, 180, .8);
  height: 20px;
  width: 20px;
}

