<header class="header-bar">
    <div><a class="header-nav" href="{{ SITEURL }}/index.html">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/UElogo.png" alt="{{ SITENAME }} logo">
    </a>
    <span class="header-title" title="L'Atlas en ligne du projet ETUPO Vallée du Bandama présente les résultats de l'étude sur l'accès à l'eau potable et à l'assainissement à Bouaké et dans les villages périphériques.">{{ SITETITRE }}</span></div>
    {% include 'parts/menuprincipal.part.html' %}
    
</header>
