<script  type="text/javascript">
var zoomG ={{ ZOOM_GENERAL }};
var latG ={{ CENTRAGE_LAT }};
var longG ={{ CENTRAGE_LONG }};


function mapparamhash(hash) {

if (hash == 0 == true) {

return '"#"+zoomG+"/"+latG+"/"+longG';
}
else
{
	return hash;
}
};

var d1 = document.getElementById('mapmenu1');
ad1= '<a href="'+{{SITEURL}}+'/pages/vulnerabilite.html'+mapparamhash(hash)+'>Diagnostic<br>localités</a>';
d1.innerHTML=ad1;


var d2 = document.getElementById('mapmenu2')
d2.innerHTML="";
d2.innerHTML +='<a href="'+{{SITEURL}}+'/pages/analyse-des-points-deau.html'+mapparamhash(hash)+'>Diagnostic<br>points d\'eau</a>';



</script>


<nav>
<ul>
{% if DISPLAY_HOME or DISPLAY_HOME is not defined %}
<li{% if output_file == "index.html" %} class="selected" id=""{% endif %}><a href="{{ SITEURL }}/index.html"><br><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home_icon.png"></a></li>
{% endif %}



<li><a title="La présentation de l'étude"><br>Informations</a>
<ul class="submenu">
{% for name, link, file in SUBMENU_INTERNAL_PAGES %}
<li{% if output_file == file %} class="selected"{% endif %}><a href="{{SITEURL}}/{{ link }}">{{ name }}</a></li>
{% endfor %}
</ul>
</li>



<li id="mapmenu1" {% if output_file == file %} class="selected"{% endif %}></li>
<li id="mapmenu2" {% if output_file == file %} class="selected"{% endif %}></li>




<li class="selectedout"><a>Contacts<br> Institutionnels</a>
<ul class="submenu">
{% for title, link in MENUITEMS %}
<li class="selectedout"><a href="{{ link }}">{{ title }} ></a></li>
{% endfor %}
</ul>

</ul>
</nav>

