<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>{% block titre %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/style.css" />
    <link rel="icon" type="image/x-icon" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/favicon.ico">
    
	<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/magnific-popup/magnific-popup.css">

    
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<script  type="text/javascript">
$(document).ready(function() {
	$('img').magnificPopup({
  type: 'image'
  // other options
});
});
</script>
    {% include 'parts/header.part.html' %}

    <div id="main"> 
    
       {% block content %}
       {% endblock %}
    </div>
    <footer class="footer-bar">

    {% include 'parts/footer.part.html' %}

    <script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/script.js"></script>
    
   {% block extra_js %}
    {% endblock %}


<!-- jQuery 1.7.2+ or Zepto.js 1.0+
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

<!-- Magnific Popup core JS file -->
<script type="text/javascript" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/magnific-popup/jquery.magnific-popup.js"></script>	
	
    </footer>
</body>
 
</html>
