<!-- page pour l'affichage de données dans des tabulator -->

{% extends "base.html" %}



{% block extra_head %}

<!-- jQuery - indispensable pour utiliser les fichiers geojson -->
	<script type="text/javascript" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/jquery.min.js"></script>
	

	
	
	


<!-- liens vers les fichiers de la librairy tabulator permettant d'afficher les tableaux de données -->
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/tabulator.min.css">
<script type="text/javascript" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/tabulator.min.js"></script>
<link href="dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="dist/js/tabulator.min.js"></script>



{% endblock %}



{% block content %}

<script type="text/javascript" >
		// construire une variable url pour chaque base de donnée affichée sur la page
			var urllocalites = "{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/localites_v2.json";
			var urlpointdeau = "{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/pointseau_v2.json";
		var table= new Tabulator('#dataLoc',{ajaxURL:urllocalites,autoColumns:true,initialSort:[{column:"name",dir:"asc"}],});
		var csv1 = $("#download-csvLoc").click(function(){table.download("csv", "UECI_localites.csv");});
		var table= new Tabulator('#dataPE',{ajaxURL:urlpointdeau,autoColumns:true,initialSort:[{column:"name",dir:"asc"}],});
		var csv2 = $("#download-csvPE").click(function(){table.download("csv", "UECI_PointsEau.csv");});	
		
			
		</script>
		
		

<section id="nomap" >
	<h2>Télécharger  les données de l'étude</h2>
	<p>Les données de l'étude ETUPO Vallée du Bandama sont librement téléchargeables et utilisables sous condition de mentionner leurs auteurs :
	<br>© Urgence Eau (2018-2019) et © Urgence Eaux - Côte d'Ivoire (2018-2019).
	<br>Elle sont fournies sous deux formats de base de données géographiques.</p>
	<!--<div id="dataLoc"style="border:1px solid red;"></div>
	<div id="dataPE"></div>-->
	<table>
	<tr><th colspan="3">Les données de l'étude</th></tr>
	<tr><td>Données par localités</td><!--<td><button id="download-csvLoc">Download CSV</button></td>--><td><button><a href="{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/localites_v2.geojson" download="UECI_localites">Download GEOJSON</a></button></td><td><button><a href="{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/localites_v2.zip" download="UECI_localites">Download shape (.zip)</a></button></td></tr>
	<tr><td>Données par points d'eau</td><!--<td><button id="download-csvPE">Download CSV</button></td>--><td><button><a href="{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/pointseau_v2.geojson" download="UECI_PointsEau">Download GEOJSON</a></button></td><td><button><a href="{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/pointseau_v4.zip" download="UECI_PointsEau">Download shape (.zip)</a></button></td></tr>
	</table>

<!-- <p  class="block">Les tableaux ci-dessous permettent de visualiser, filtrer et télécharger sous différents format les bases de données de l'étude.</p>

	<h4 class="block">Données par localités</h4>
	<div id="localites-table"  class="block"></div>
	
     
<div class="table-controls" style="display:block;margin:auto;">
      <button id="download-csv">Download CSV</button>
      <button><a href="{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/localites.geojson" download="UECI_localites">Download GEOJSON</a></button>
     
</div>
	<h4 class="block">Données par points d'eau</h4>
	<div class="block">
	<div class="table-controls">
        <span>
          <label>Champs : </label>
          <select id="filter-field">
              <option></option>
              <option value="properties.Zone">Zone (Rural/Urbain)</option>
              <option value="properties.Note d\'évaluation de la vulnérabilité">Niveau de vulnérabilité [0-10]</option>
             
              <option value="properties.E Coli  (UFC/100 mL)">E. Coli</option>
              <option value="properties.Ammoniac (mg/L)">Concentration en Ammoniac</option>
              <option value="properties.Nitrate (mg/L)">Concentration en Nitrate</option>
              
          </select>
        </span>

        <span>
          <label>Type: </label>
          <select id="filter-type">
          	<option value="like">like</option>
              <option value="=">=</option>
              <option value="<">&lt;</option>
              <option value="<=">&lt;=</option>
              <option value=">">&gt;</option>
              <option value=">=">&gt;=</option>
              <option value="!=">!=</option>
              
          </select>
        </span>

          <span><label>Valeur: </label> <input id="filter-value" type="text" placeholder="valeur à filtrer"></span>

          <button id="filter-clear">Clear Filter</button>
    </div>
    </div>


	
	
	<div id="ptseau-table"  class="block"></div>
	
     
<div class="table-controls" style="display:block;margin:auto;">
      <button id="download-csv">Download CSV</button>
      <button><a href="{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/pointseau.geojson" download="UECI_pointseau">Download GEOJSON</a></button>
     
</div>-->
	
</section>

{% endblock %}




{% block extra_js %}

<!-- appelle le fichier JS codant les tableaux -->	

<!-- <script type="text/javascript" src="{{SITEURL}}/{{DOC_STATIC_DIR}}/map/complexe-table.js"></script>-->	


{% endblock %}