{% extends "base.html" %}
 

{% block extra_head %}
	<!-- appelle la librairie javascript Leaflet et le fichier CSS Leaflet -->	
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/leaflet.css"/>
<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/leaflet.js"></script>
	
	<!-- fichier permettant d'afficher les markercluster -->
	
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/MarkerCluster.Default.css" />
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/leaflet.markercluster.js"></script>

	
	<!-- jQuery - indispensable pour utiliser les fichiers geojson -->
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/jquery-3.4.1.min.js"></script>
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/jquery.min.js"></script>
	
	
	
	
	
{% endblock %}

{% block content %}
<section class="withmap">
	<div class="mapall" id="map" title="Cliquer sur une localites pour accéder à son diagnostic détaillé">
	<script type="text/javascript">
	////Carte de la page d'accueil
  

//// création de la carte et paramétrages généraux : 
//centre et niveau de zoom,zoom minimum,zoom maximum, 
// et limites du canevas (afin que l'ordinateur ne charge pas trop de tuiles de fond de carte)
// les paramètres de la fonction setView (coordonnées du centre de la vue=coordonnée de la localité
//niveau de zoom = 14 pour un quartier et 16 pour un village) seront extraits des métadata de chaque 
//fiches localité.
var map = L.map('map');
	map.setView({{ CENTRAGE_MAP }}, {{ ZOOM_GENERAL }});
	map.setMinZoom(11);
	map.setMaxZoom(19);
	map.setMaxBounds({{ BORDER_LIMIT }})	       
     
	</script>
	<script type="text/javascript" >
		// construire une variable url pour chaque fichiers annexes affichée sur la page
			var urllocalites = "{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/localites_v2.geojson"
			var urlpointdeau = "{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/pointseau.geojson"
			var urlNorthArray = '<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/compass.png" style="width:30px;">'
			var urlwhiteshadow = '{{ SITEURL }}/{{ DOC_STATIC_DIR }}/map/icone/white.png'
			var urlpuitsmoderne = '{{ SITEURL }}/{{ DOC_STATIC_DIR }}/map/icone/puits_moderne.png'
			var urlpuitstradi = '{{ SITEURL }}/{{ DOC_STATIC_DIR }}/map/icone/puits_tradi.png'
			var urlforage = '{{ SITEURL }}/{{ DOC_STATIC_DIR }}/map/icone/forage.png'
			var urlborne = '{{ SITEURL }}/{{ DOC_STATIC_DIR }}/map/icone/borne.png'
			var urlsurface = '{{ SITEURL }}/{{ DOC_STATIC_DIR }}/map/icone/marigot.png'
			var articlespath = '{{ SITEURL }}/'
		</script>
	</div>
	
</section>
{% endblock %}

{% block extra_js %}

	<!-- liens vers les fichiers permettant de créer les controles de groupes de couche dans la carte -->
<script type="text/javascript" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/leaflet.groupedlayercontrol.min.js.map"></script>
	<script type="text/javascript" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/dist/leaflet.groupedlayercontrol.min.js"></script>
<!-- les scripts d'affichage de l'habillage de la carte -->
<script type="text/javascript" src="{{SITEURL}}/{{DOC_STATIC_DIR}}/map/map_habillage.js" ></script>
<!-- script d'affichage des groupes de couche dans le contrôleur de couches -->
<script type="text/javascript" src="{{SITEURL}}/{{DOC_STATIC_DIR}}/map/groupecontrole.js"></script>
<!-- script d'affichage des différentes couches -->

<script type="text/javascript" src="{{SITEURL}}/{{DOC_STATIC_DIR}}/map/localites_fiche.js" ></script>
{% endblock %}