<!-- page pour l'affichage de données dans des tabulator -->

{% extends "base.html" %}



{% block extra_head %}

<!-- jQuery - indispensable pour utiliser les fichiers geojson -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<!-- appelle la librairie javascript Leaflet et le fichier CSS Leaflet -->	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	
	
	


<!-- liens vers les fichiers de la librairy tabulator permettant d'afficher les tableaux de données -->
<link href="https://unpkg.com/tabulator-tables@4.2.7/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.2.7/dist/js/tabulator.min.js"></script>



{% endblock %}



{% block content %}
<script type="text/javascript" >
		// construire une variable url pour chaque base de donnée affichée sur la page
			var urllocalites = "{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/localites.json"
			var urlpointdeau = "{{ SITEURL }}/{{DOC_STATIC_DIR}}/map/bdd/pointseau.json"
			
			
		</script>

{{ page.content }}

{% endblock %}




{% block extra_js %}
<!-- appelle le fichier JS codant l'habillage de la carte -->	
<script type="text/javascript" src="{{SITEURL}}/{{DOC_STATIC_DIR}}/map/map_habillage.js" ></script>
<!-- appelle le fichier JS codant la carte de la page d'accueil -->	

<script type="text/javascript" src="{{SITEURL}}/{{DOC_STATIC_DIR}}/map/complexe-table.js"></script>


{% endblock %}